<ul class="socialprofiles-block">
  {% for name, url in social_links if url is not empty %}
    <li>
        <a href="{{ url }}" rel="external">
            <i></i>
            {{ name }}
        </a>
    </li>
  {% endfor %}
</ul>